apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-conf
  namespace: web
data:
  default.conf: |
    server {
      listen 80;
      server_name _;

      location /api/ {
        # Используем ClusterIP сервиса backend, чтобы избежать проблем с DNS в демо-кластере
        proxy_pass http://10.102.83.216/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      }

      location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ =404;
      }
    }

