NEXT_PUBLIC_SALEOR_API_URL={{ storefront_api_url }}
NEXT_PUBLIC_SALEOR_DASHBOARD_URL={{ storefront_dashboard_url }}
NEXT_PUBLIC_DEFAULT_COUNTRY={{ storefront_default_country | default('US') }}
NEXT_PUBLIC_DEFAULT_CURRENCY={{ storefront_default_currency | default('USD') }}
NEXT_PUBLIC_STOREFRONT_URL={{ storefront_public_url | default('http://' + hostvars[inventory_hostname].ansible_host + ':' + storefront_port) }}
